{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Admin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admin.id }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ admin.utilisateur }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ admin.mdp }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ admin.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ admin.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_index') }}">back to list</a>

    <a href="{{ path('admin_edit', {'id': admin.id}) }}">edit</a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
