{% extends 'base.html.twig' %}

{% block title %}Edit TypeChantier{% endblock %}

{% block body %}
    <h1>Edit TypeChantier</h1>

    {{ include('type_chantier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_chantier_index') }}">back to list</a>

    {{ include('type_chantier/_delete_form.html.twig') }}
{% endblock %}
